/* blogs.module.css */

.productherobanner {
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../img/bg-hero.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    /* Set a fixed height for the banner */
    padding: 0;
    /* Remove extra padding to reduce height */
}

.productherobanner img {
    animation: imgRotate 50s linear infinite;
    border-radius: 50%;
    width: auto;
    /* Let the width adjust itself automatically */
    height: 200px;
    /* Adjust the height of the image */
}

@keyframes imgRotate {
    100% {
        transform: rotate(360deg);
    }
}



.page-title.bg-1 {
    background-image: url('img/astrology-banner.webp');
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 100px 0;
}

.page-title.bg-1 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.page-title.bg-1 .container {
    position: relative;
    z-index: 2;
}

.sectionblogwrap {
    padding: 24px
}

.blgban {
    color: white
}

.blogsname {
    font-size: 20px;
    color: black;
    font-weight: 800;
}

.blogbord {
    /* border: 1px solid black; */
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 17px #3d3d3d;
    border-radius: 10px;
}

.blogimg {
    overflow: hidden;
    box-shadow: 0 0 17px #3d3d3d;
    border-radius: 50%;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.articlesheading {
    width: 100%;
    border-top-right-radius: 48px;
    border-bottom: 5px solid #d1580d;
    color: orangered;
    font-weight: 700;
    font-size: 2rem;
}